
.container{
    margin-top: 100px;
    z-index: 0;
    color: #000;
}

.form{
    background-color: #fff;
    color: #000;
    margin: auto;
    display: flex;
    align-items: flex-start;
}
mat-form-field{
    margin: 0 25px;
}

.botao{
    background-color: #064098;
    color: #fff;
    border-radius: 20px;
    max-width: 250px;
    margin: auto;
}