<div class="container tabela">
    <div class="card tabela">
        <form class="form">
            <mat-form-field floatLabel="always">
                <mat-label>Escolha a Moeda Base</mat-label>
                <mat-select required (selectionChange)="atualizarBase($event.value)">
                    @for(moeda of this.moedasService.moedas; track moeda){
                        <mat-option [value]="moeda" >{{moeda}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Escolha a Moeda Alvo</mat-label>
                <mat-select required (selectionChange)="atualizarAlvo($event.value)">
                    @for(moeda of this.moedasService.moedas; track moeda){
                        <mat-option [value]="moeda">{{moeda}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Valor</mat-label>
                <input #valorComparar matInput type="number" placeholder="0" (blur)="atualizarValor(valorComparar.value)"/>
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
            </mat-form-field>
        </form>
        <button mat-button (click)="converterValores($event)" class="btn botao">Converter</button>
        <div>
            <h1>{{this.conversorMoedasService.resultado}}</h1>
        </div>
    </div>
</div>