
.footer {
    background-color: #0C6DFD;
    text-align: center;
    color: #fff;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
}

.footer a{
  color: #fff;
  font-weight: bold;
}