<div class="container tabela" [class.is-mobile]="mobileQuery.matches">
    <div class="tabela">
        <mat-form-field>
            <mat-label><mat-icon>signal_wifi_4_bar</mat-icon> Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. BRL" #input>
        </mat-form-field>
        
        <table mat-table [dataSource]="dataSource" class="tabela">

            <ng-container matColumnDef="moeda" class="tabela">
                <th mat-header-cell *matHeaderCellDef class="tabela"> Moeda </th>
                <td mat-cell *matCellDef="let element" class="tabela"> {{element.moeda}} </td>
            </ng-container>
            
            <ng-container matColumnDef="nome" class="tabela">
                <th mat-header-cell *matHeaderCellDef class="tabela"> Nome </th>
                <td mat-cell *matCellDef="let element" class="tabela"> {{element.nome}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tabela"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tabela"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons aria-label="Select page of Conversion Rates" class="pagination"></mat-paginator>
    </div>
</div>
