.lista{ 
    z-index: 0;
    
}
.container{
    margin-top: 44px;
    margin-bottom: 80px;
}

.card{
    margin: auto;
    max-width: 80%;
}

.card-footer{
    border-radius: 0px 0px 0px 0px;
}

.tabela{
    border-radius: 0px 20px 0px 0px;
}

.pagination{
    border-radius: 0px 0px 0px 0px;
}